<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cody.moviedatabase" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity" >
            >
        </activity>
        <activity
            android:name=".Web"
            android:label="@string/title_activity_web" >
        </activity>
        <activity
            android:name=".Info"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name=".HomeInfo"
            android:label="@string/title_activity_home_info" >
        </activity>
        <activity
            android:name=".ItFollowsInfo"
            android:label="@string/title_activity_it_follows_info" >
        </activity>
        <activity
            android:name=".GetHardInfo"
            android:label="@string/title_activity_get_hard_info" >
        </activity>
        <activity
            android:name=".CinderellaInfo"
            android:label="@string/title_activity_cinderella_info" >
        </activity>
        <activity
            android:name=".InsurgentInfo"
            android:label="@string/title_activity_insurgent_info" >
        </activity>
        <activity
            android:name=".KingsmanInfo"
            android:label="@string/title_activity_kingsman_info" >
        </activity>
        <activity
            android:name=".BelieveInfo"
            android:label="@string/title_activity_believe_info" >
        </activity>
        <activity
            android:name=".RunInfo"
            android:label="@string/title_activity_run_info" >
        </activity>
        <activity
            android:name=".MarigoldInfo"
            android:label="@string/title_activity_marigold_info" >
        </activity>
        <activity
            android:name=".GunmanInfo"
            android:label="@string/title_activity_gunman_info" >
        </activity>

        <activity
            android:name=".TrailerActivity"
            android:label="@string/title_activity_trailer"
            android:parentActivityName=".MainActivity" >
            >
        </activity>
    </application>

</manifest>
